
#login
  - form_for :session, :url=>{:action=>:create}, :method=>:post, :id=>"login_form" do |f|
    %fieldset
      %legend Trails
      %ol
        %li
          %label Email
          = f.text_field :email, :size => 20
        %li
          %label Password
          = f.password_field :password, :size => 20
        %li#submit
          = submit_tag "Log in"
    %p
      = link_to "Register", new_user_path
- if flash[:notice]
  #notice
    = flash[:notice]