- fields_for edit do |form|
  %tr.task_form{:class=>"form #{edit.new_record? ? 'new' : 'edit'}",:id=>(edit.new_record? ? "task_list_#{edit.task_list.id}" : "edit"), :style=>"display:none"}[edit]
    %td.toolbar.external
    %td.task_form_container{:colspan=>6,:style=>"padding:0px;"}
      %table
        %tr.task_form
          %td.task_title
            = form.text_field   :description, :disabled=>true
          - if edit.new_record?
            %td.earnings
              00.00$
            %td.duration
              0s
          - else
            %td.earnings
              = edit.task_earnings
            %td.duration
              = edit.task_duration
        %tr.task_form
          %td.task_title
            = "$"
            = form.text_field :rate, :disabled=>true
            = "/hour"
            %span.default_rate_check
              %input{:type=>"checkbox"}
              %span
                Use default rate
          %td{:colspan=>2} 
            %div.duration{:id=>"diffTime_#{edit.id}"}
            <input type="text_field" name="diffTime" style="display:none" id="diffTime_input_#{edit.id}" disabled="disabled">
        %tr.task_list_container_row.slider_row
          %td{:colspan=>3}
            %hr 
            %b
              Adjust
            the total time of this task:
            %div.slider_track{:style=>"width:330px", :id=>"track_#{edit.id}"}
              %div.slider_handle.slider_handle_hour
              %div.slider_handle
            %hr 
        %tr.task_form 
          %td.task_submit.submit{:colspan=>3}
            - if edit.new_record?
              = form.submit "Create task" , :action => task_list_tasks_path(edit.task_list.id),:method=>"post", :disabled=>true
            - else
              = form.submit "Save this task", :action => task_path(edit), :method=>"put", :disabled=>true
            = "or "
            = link_to "Cancel", "#cancel"
    %td.external_bars