%div[task]
  .status
    = task_status(task)
  .start
    = task_action_button(task)
  .name 
    = task.description
  .rate
    = task_rate(task)
  .earnings
    $
  .duration
    = duration(task.duration)
