%tr{task_active_class(task)}[task]
  %td.status
    = task_status(task)
  %td.start
    = task_action_button(task)
  %td.description 
    = task.description
  %td.rate
    = task_rate(task)
  %td.earnings
    = task.earnings.format(:accurate)
  %td.duration
    = duration(task.duration)