%tr{:class=>task.status.to_s}[task]
  %td.status
    = task_status(task)
  %td.start
    = task_action_button(task)
  %td.description 
    = task.description
  %td.rate
    = task_rate(task)
  %td.earnings
    = task_earnings(task)
  %td.duration
    = task_duration(task)
  %td.external