- if flash[:notice]
  #notice
    = flash[:notice]
#signup
  - form_for @user, :id=>"signup_form" do |f|
    %fieldset
      %legend Trails Sign Up
      = f.error_messages
      %ol
        %li
          %label Full Name
          = f.text_field :display_name, :size => 20
        %li
          %label Email
          = f.text_field :email, :size => 20
        %li
          %label Password
          = f.password_field :unencrypted_password, :size => 20
        %li
          %label Password again
          = f.password_field :unencrypted_password_confirmation, :size => 20
        %li#submit
          = submit_tag "Sign up"

