- fields_for edit do |form|
  %tr{act_as_form(edit)}
    %td.external
    %td.title{:colspan=>3}
      = form.text_field   :title
    %td.default_rate{:colspan=>3}
      = "$"
      = form.text_field :default_rate
      = "/h"
    %td.submit.external
      - if edit.new_record?
        = form.submit "Create task list" , :action => task_lists_path
      - else
        = form.submit "Save task", :action => task_list_path(edit), :method=>"put"
      = link_to "Cancel", "#cancel"
