- fields_for edit do |form|
  %tr.task_form{:class=>"form #{edit.new_record? ? 'new' : 'edit'}",:id=>(edit.new_record? ? nil : "edit"), :style=>"display:none"}[edit]
    %td.external
    %td.title{:colspan=>3}
      = form.text_field   :title, :disabled=>true
    %td.default_rate{:colspan=>3}
      = "$"
      = form.text_field :default_rate, :disabled=>true
      = "/h"
    %td.submit.external
      - if edit.new_record?
        = form.submit "Create task list" , :action => task_lists_path, :disabled=>true
      - else
        = form.submit "Save task list", :action => task_list_path(edit), :method=>"put", :disabled=>true
      = link_to "Cancel", "#cancel"
