%tr.spacer_row
  %td
= render :partial=>"task_lists/header", :object=>task_list
= render :partial=>"tasks/edit", :object=>task_list.tasks.build
%tr
  %td{:colspan=>8, :style=>"padding: 0px"}
    %ul.list_container{:id=>"task_list_container_#{task_list.id}"}
      = render :partial=>task_list.sorted_tasks
%tr.total{:id=>"total_#{task_list.id}"}
  %td.external
  %td{:colspan=>4}
  %td.earnings{:id=>"task_list_earnings_#{task_list.id}"}
    = task_list.earnings.format(:accurate)
  %td.duration{:id=>"task_list_duration_#{task_list.id}"}
    = formatted_duration(task_list.duration)
= render :partial=>"task_lists/footer"