%tr.spacer_row
  %td
= render :partial=>"task_lists/header", :object=>task_list
= render :partial=>"tasks/edit", :object=>task_list.tasks.build
= render :partial=>task_list.sorted_tasks
%tr.total
  %td.external
  %td{:colspan=>4}
  %td.earnings
    = task_list.earnings.format(:accurate)
  %td.duration
    = duration(task_list.duration)
%tr.blank_list_footer