!!! Strict
%html
  %head
    %title Trails!!!
    = stylesheet_link_tag("application")
  %body{:class=>page_class}
    #utility_menu
      == Hello #{user.display_name}
      |
      = link_to "Settings", "settings"
      |
      = link_to "Sign out", "signout"
    = yield