!!! Strict
%html{html_attrs}
  %head
    %title Trails
    = stylesheet_link_tag("application")
    = javascript_include_tag :all
  %body{:class=>page_class}
    - if session[:user_id]
      #utility_menu
        = link_to "Settings", "settings"
        |
        = link_to "Sign out", { :controller => "session" }, :method => :delete
    = yield
